[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django-tinymce = "*"
pillow = "*"
django = "*"
whoosh = "*"
django-haystack = "*"
jieba = "*"
python-dotenv = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
