{% extends 'goods/base.html' %}

{% block head %}
  {{ block.super }}
  <script>
      $(function () {
          $('.num_show').blur(function (event) {
              var num = parseInt($(this).val());
              var price = parseFloat($('#gprice').text());
              var total = num * price;
              $('#gtotal').text(total.toFixed(2) + '元');
          });
          $('.add.fr').click(function (event) {
              var $num_ele = $('.num_show');
              var $value = parseInt($num_ele.val());
              $num_ele.val($value + 1);
              $num_ele.blur();
          });
          $('.minus.fr').click(function (event) {
              var $num_ele = $('.num_show');
              var $value = parseInt($num_ele.val());
              if ($value <= 1) {
                  alert('请输出正确的数量！');
              } else {
                  $num_ele.val($value - 1);
                  $num_ele.blur();
              }
          });

          $('.buy_btn').click(function (event) {
              if ($('.login_btn').text().indexOf('登录') >= 0) {
                  alert('请先登录后再购买');
                  location.href = '{% url "user:login" %}';
                  return 0;
              } else {
                  var num = parseInt($('.num_show').val());
                  $.get("{% url 'cart:add' %}?goods={{ g.id }}&count=" + num, function (data) {
                      location.href = '/order/?cart_id=' + data.cart_id;
                  });
              }
          });
      });
  </script>
{% endblock head %}

{% block detail %}
  <div class="goods_detail_con clearfix">
    <div class="goods_detail_pic fl"><img src="/static/{{ g.pic }}"></div>

    <div class="goods_detail_list fr">
      <h3>{{ g.name }}</h3>
      <p>{{ g.brief }}</p>
      <div class="prize_bar">
        <span class="show_pirze">¥<em id="gprice">{{ g.price }}</em></span>
        <span class="show_unit">单  位：{{ g.unit }}</span>
      </div>
      <div class="goods_num clearfix">
        <div class="num_name fl">数 量：</div>
        <div class="num_add fl">
          <input type="text" class="num_show fl" value="1">
          <a href="javascript:;" class="add fr">+</a>
          <a href="javascript:;" class="minus fr">-</a>
        </div>
      </div>
      <div class="total">总价：<em id="gtotal">{{ g.price }}元</em></div>
      <div class="operate_btn">
        <a href="javascript:;" class="buy_btn">立即购买</a>
        <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
      </div>
    </div>
  </div>
{% endblock detail %}

{% block detail2 %}
  <div class="r_wrap fr clearfix">
    <ul class="detail_tab clearfix">
      <li class="active">商品介绍</li>
      <li>评论</li>
    </ul>

    <div class="tab_content">
      {{ g.detail|safe }}
    </div>
  </div>

  <div class="add_jump"></div>

  <script type="text/javascript">
      var $cart_btn = $('.add_cart');
      var add_x = $cart_btn.offset().left;
      var add_y = $cart_btn.offset().top;

      var $show_count = $('#show_count');
      var count_x = $show_count.offset().left;
      var count_y = $show_count.offset().top;

      $add_jump = $('.add_jump');
      $add_jump.css({
          'left': add_x + 80,
          'top': add_y + 10,
          'display': 'block'
      });

      $('#add_cart').click(function (event) {
          if ($('.login_btn').text().indexOf('登录') >= 0) {
              alert('请先登录后再购买');
              location.href = '{% url "user:login" %}';
              return 0;
          } else {
              $add_jump.stop().animate({
                  'left': count_x + 7,
                  'top': count_y + 7
              }, 'slow').fadeOut('slow', function (event) {
                  $(this).css({
                      'left': add_x + 80,
                      'top': add_y + 10,
                      'display': 'block'
                  });
              });

              var num = parseInt($('.num_show').val());
              $.get("{% url 'cart:add' %}?goods={{ g.id }}&count=" + num, function (data) {
                  $show_count.text(data.count);
              });
          }
      });

  </script>
{% endblock detail2 %}
